@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

h1 {
    font-size: 100%;
    text-align: center;
}
h2 {
text-align: center;
background-color: rgb(245, 12, 12);

}
p {
    text-align: center;
}
p {
font-family: 'Fredoka', sans-serif;

}
p {
text-align: center;

}